<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title text-center">Marketplace - Find Fish/h1>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">King Salmon</div>
        <div class="panel-body">
        <p align="center">
          <img align="middle" src="../assets/images/king-salmon.jpg" class="img-buffer img-rounded img-responsive">
        </p>
        </div>
        <!-- Table -->
        <table class="table">
        <tr>
          <th>Fisherman</th>
          <th>Quantity (lb)</th>
          <th>Ask Price (per lb)</th>
          <th>Time to Table (days)</th>
          <th>Claim</th>
        </tr>
        <tr>
          <td>Captain Gorton (Homer, AK)</td>
          <td>600</td>
          <td>$15.70</td>
          <td>2</td>
          <td><a href=""><span class="glyphicon glyphicon-plus"></span></a></td>
        </tr>
        <tr>
          <td>Smotherby (Homer, AK)</td>
          <td>250</td>
          <td>$15.20</td>
          <td>4</td>
          <td><a href=""><span class="glyphicon glyphicon-plus"></span></a></td>
        </tr>
        <tr>
          <td>Ralph Simon (Bellingham, WA)</td>
          <td>900</td>
          <td>$15.30</td>
          <td>4</td>
          <td><a href=""><span class="glyphicon glyphicon-plus"></span></a></td>
        </tr>
        <tr>
          <td>Junior Catcher (Bellingham, WA)</td>
          <td>650</td>
          <td>$15.90</td>
          <td>5</td>
          <td><a href=""><span class="glyphicon glyphicon-plus"></span></a></td>
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>
