<footer class="footer">
  <small>
    This site was hacked together by
    <a href="http://derekcovey.wordpress.com">djCroissant</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
